.about {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/src/img/carlos-de-miguel-Kq2WV3WPrYU-unsplash.jpg) no-repeat center
      center/cover fixed;
  min-height: 100vh;
  width: 100%;
  color: #fff;
  font-size: 20px;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 65px 30px 65px;
}

.about-header {
  /* background-color: #333; */
  max-width: 700px;
  padding: 20px;
  margin-bottom: 50px;
}

.about-text {
  display: flex;
  flex: 1;
  padding: 20px;
  max-width: 960px;
}

.about-text-1,
.about-text-2 {
  padding: 0 30px 0;
}

@media (max-width: 760px) {
  .about-text {
    flex-direction: column;
  }

  .about-text-1,
  .about-text-2 {
    padding: 50px 20px 50px;
  }
}

@media screen and (max-width: 500px) {
  /* ios compatability */
  .about {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ),
      url(/src/img/carlos-de-miguel-Kq2WV3WPrYU-unsplash.jpg);
    background-position: center;
    background-attachment: scroll;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
