.testimonials-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f4f4f4;
  padding-bottom: 70px;
}

.testimonials-container > h1 {
  font-size: 3rem;
  /* background-color: #333; */
  padding: 10px;
  border-bottom: 3px solid #333;
  margin-bottom: 30px;
  color: #333;
}

.carousel {
  width: 60%;
  height: 600px;
}

.carousel-inner-1 {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.carousel-inner-1 .left {
  flex: 5%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: grid;
  place-items: center;
  color: #fff;
  cursor: pointer;
}

.carousel-inner-1 .center {
  flex: 80%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  text-align: justify;
}

.testimonials {
  display: flex;
  height: 100%;
  font-style: italic;

  background: url("/src/img/testimonials.jpg") no-repeat center center/cover
    fixed;
}

.testimonials p {
  font-size: 1.6rem;
  max-width: 900px;
  padding: 20px;
  text-align: center;
}

.testimonials .fa-quote-right {
  /* background-color: rgba(255, 255, 255, 0.3); */
  padding: 20px;
  border-radius: 9px;
  text-align: right;
  font-size: 2rem;
}

.carousel-inner-1 .right {
  flex: 5%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: grid;
  place-items: center;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  /* ios compatability */
  .testimonials {
    background: url("/src/img/testimonials.jpg");
    background-position: center;
    background-attachment: scroll;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .testimonials p {
    font-size: 1rem;
  }

  .testimonials .fa-quote-right {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 400px) {
  .testimonials p {
    font-size: 0.7rem;
    padding: 10px;
  }

  .testimonials .fa-quote-right {
    font-size: 1.2rem;
    padding: 10px;
  }
}
