@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to bottom, #999, #f4f4f4);
  font-family: "Zen Kurenaido", sans-serif;
}

.title {
  font-size: 3rem !important;
}

.home,
.services {
  display: flex;
  height: 70vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

@media (max-width: 500px) {
  .services {
    height: 60vh;
  }

  .title {
    font-size: 2rem !important;
  }
}
